/*whole site css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    user-select: none;
    overflow-x: hidden;
}

/*whole site css ends*/

/*navbar css*/

.nav {
    background-color: rgba(40, 70, 144, .5);
    display: flex;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow-x: visible;
    overflow-y: hidden;
}

.nav_brand {
    color: white;
    font-weight: 700;
}

.T1, .T2, .G {
    font-size: 22px;
    font-weight: 800;
}

.T1 {
    color: greenyellow;
}

.T2 {
    color: blue;
}

.G {
    color: red;
}

.nav-logo {
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

.nav-logo img {
    overflow-y: hidden;
    height: 100%;
}

.nav-item-group {
    overflow-x: visible;
    color: white;
    /* margin-left: -200px; */
}

.nav-item-group ul {
    overflow-x: visible;
    margin-left: -200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 600px;
    height: 100%;
}

.nav-list li {
    display: flex;
    justify-content: space-around;
    letter-spacing: 1px;
    cursor: pointer;
    padding-bottom: 5px;
}

.nav-item-group li:hover {
    color: rgb(235, 235, 235);
}

.active {
    border-bottom: 2px solid white;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-search-group {
    overflow-x: visible;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-search-group input {
    height: 30px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    /* border-radius-left: 10px; */
    color: #000;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: rgb(144, 182, 214);
    transition: border .15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-search-group input:hover {
    background-color: rgb(130, 163, 190);
    outline: none;
}

.nav-search-group input:active {
    outline: none;
}

.nav-search-group input:focus {
    /* border: .5px solid white; */
    outline: none;
    box-shadow: 0 0 0px 3px rgba(251, 249, 248, .5);
}

.nav-search-group input::placeholder {
    color: rgb(77, 77, 77);
}

.nav-search-group button {
    outline: none;
    border: none;
    height: 30px;
    color: rgb(40, 70, 144);
    padding: .375rem .75rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(251, 249, 248);
    transition: border .15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-search-group button:hover {
    background-color: rgb(231, 228, 228);
    outline: none;
    border: none;
}

.nav-search-group button:active {
    outline: none;
    border: none;
}

.nav-search-group button:focus {
    /* border: .5px solid white; */
    outline: none;
    border: none;
    box-shadow: 0 0 0px 3px rgba(251, 249, 248, .5);
}

/*navbar css ends here*/

/*home page image*/

.main-landing {
    width: 100vw;
    height: 80vh;
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-image: linear-gradient(407deg, rgba(246, 247, 246, 0.7) 60%, rgba(0, 0, 0, 0) 50%), url("assests/special_packages/nyc.jpg");
    background-size: 100% 100%;
    /* background-attachment: fixed; */
}

.main-heading, .qoute-line {
    color: rgb(71, 71, 71);
}

.main-heading {
    font-family: 'Lobster', cursive;
    font-size: 80px;
    font-weight: 700;
}

.qoute-line {
    padding-left: 15px;
    font-size: 20px;
    font-weight: 600;
}

/*home page image css ends*/

/*best package provider*/

.packages-heading {
    padding-top: 50px;
    font-size: 45px;
    color: rgb(144, 182, 214);
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}

.packages-heading hr {
    margin: 10px auto;
    width: 35%;
    height: 1px;
    background-color: rgb(40, 70, 144);
    text-align: center;
    border: none;
}

.best_selling_cards_group {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.best_selling_card {
    margin: auto 40px;
    padding: 10px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border: .5 solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.15s ease-in-out;
}

.best_selling_card:hover {
    transform: scaleX(10%);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.card_image {
    padding: 10px 40px;
}

.card_image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, .5);
}

.card_heading {
    color: rgb(40, 70, 144);
    text-align: center;
    font-family: 'Satisfy', cursive;
    letter-spacing: 2px;
    margin: 5px auto;
    font-size: 28px;
    font-weight: 700;
}

.hr-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hr-div .hr {
    margin: 5px;
    width: 200px;
    height: 1px;
    background-color: rgb(40, 70, 144);
}

.hr-div .hr:nth-child(2) {
    margin-top: 0px;
    width: 150px;
}

.card-description {
    font-weight: 700;
    text-align: center;
    color: rgb(143, 70, 84);
    font-size: 15px;
    padding-top: 10px;
}

.card-description ul {
    margin-top: 10px;
    font-weight: 500;
    text-align: left;
    padding-left: 30px;
    font-size: 14px;
}

.best_selling_card button {
    margin-top: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    outline: none;
    border: 1px solid rgb(40, 70, 144);
    height: 30px;
    background-color: rgba(40, 70, 144, 0);
    padding: .375rem .75rem;
    border-radius: 5px;
    overflow-y: hidden;
    background-color: rgba(40, 70, 144, 0);
    transition: border .15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.best_selling_card button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(40, 70, 144, 1);
}

.best_selling_card button:focus {
    box-shadow: 0 0 0px 3px rgba(40, 70, 144, 0.5);
}

.star_rating ion-icon {
    color: #FDCC0D;
}

.star_rating {
    margin-top: 10px;
    margin-left: 30px;
}

.rating_heading {
    margin-bottom: 10px;
    font-size: 15px;
    margin-top: 10px;
    color: rgb(40, 70, 144);
    font-weight: 600;
}

.rating_num {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}

/*best package provider ends*/

/*user reviews*/

.user_reviews_card_group {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.user_review_card {
    margin: auto 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    height: 100%;
    border: .5 solid black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.15s ease-in-out;
}

.user_review_card:hover {
    transform: scaleX(10%);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.user_review_card img {
    width: 65px;
    border-radius: 50%;
}

.user_heading {
    color: rgb(40, 70, 144);
    font-weight: 600;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    text-align: center;
}

.user_place {
    font-size: 15px;
    margin-top: -5px;
    font-weight: 600;
    color: gray;
}

.user_review_desc {
    letter-spacing: 1px;
    padding: 20px;
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
    font-family: 'Chilanka', cursive;
}

/*user reviews ends*/

/*brand partners*/

.brand_card_group {
    margin: 20px 0px;
    padding: 0px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.brand_card {
    background-color: #A0DFCF;
    margin: auto 00px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    /*    border: .5 solid black;*/
    /*    border-radius: 10px;*/
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.15s ease-in-out
}

.brand_card img {
    /*    width: 200px;    */
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.brand_card img:nth-child(3) {
    width: 160%;
}

.brand_heading {
    padding-top: 50px;
    font-size: 45px;
    color: rgb(144, 182, 214);
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}

.brand_heading hr {
    margin: 10px auto;
    width: 35%;
    height: 1px;
    background-color: rgb(40, 70, 144);
    text-align: center;
    border: none;
}

/*brand partners ends*/

/*hr dividing footer*/

.dashes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash {
    margin: 20px 5px 5px 5px;
    width: 70px;
    height: 5px;
    background-color: rgba(0, 0, 0, .8);
}

/*diving hr ends*/

/*footer */

.foot {
    font-family: 'Quicksand', sans-serif;
    padding: 30px 10px;
    background-color: #000000;
    display: flex;
    right: 0;
    left: 0;
    margin-top: 50px;
    justify-content: space-around;
}

.foot_brand {
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot_logo {
    display: flex;
    color: white;
    width: 256px;
    height: 144px;
}

.foot_heading {
    font-size: 30px;
}

.foot_brand .T1 {
    font-size: 50px;
    font-weight: 800;
}

.foot_brand .T2 {
    font-size: 50px;
    font-weight: 800;
}

.foot_brand .G {
    font-size: 50px;
    font-weight: 800;
}

.follow_us {
    display: flex;
    line-height: 2;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.social_text {
    font-size: 15px;
    margin-top: -6px;
}

.follow_us li {
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    font-size: 20px;
}

.social_follow a {
    display: flex;
    justify-content: space-between;
}

/*
 .facebook ion-icon{
    color: #4267B2;
}
.instagram ion-icon{
    color: rgb(219, 19, 219);
}
.twitter ion-icon{
    color: #1DA1F2;
}
.whatsapp ion-icon{
    color: #25D366;
}
.pinterest ion-icon{
    color: #FF0000;
} 
*/

.subs_newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.newsletter_heading {
    color: white;
    font-size: 20px;
    margin: 20px;
}

.newsletter_input {
    overflow: visible;
}

.newsletter_input input {
    padding: .400rem .60rem;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    width: 320px;
    color: rgb(255, 255, 255);
}

.newsletter_input input::placeholder {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

/* .newsletter_input input:focus{
    box-shadow: 0px 5px 5px 0px rgba(255, 255, 255,.2);
} */

.newsletter_button {
    overflow: visible;
}

.newsletter_button button {
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    padding: .400rem .60rem;
    width: 320px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.newsletter_button button:active {
    outline: none;
}

.newsletter_button button:hover {
    background-color: white;
    outline: none;
    color: black;
}

.newsletter_button button:focus {
    outline: none;
    box-shadow: 0 0 0px 3px rgba(255, 255, 255, .4);
}

/*footer ends*/

/*copyright*/

.copywright {
    text-align: center;
    color: #fff;
    background-color: black;
    font-weight: 600;
}

.copywright span {
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
}

/*copyright ends*/

/*all packages */

.heading {
    margin: 10px 10px 10px 0;
    padding: 10px 80px 10px 80px;
    font-size: 50px;
    font-weight: 700;
}

.package_grp {
    margin: 10px;
    padding: 10px 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-content: space-between;
    justify-content: space-between;
}

.padding {
    height: 90px;
    width: 100%;
}

.package_card {
    padding: 20px 10px;
    width: 100%;
    margin: 20px 0px;
    border: .5px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.15s ease-in-out;
}

.package_card:hover {
    transform: scaleX(10%);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.package_card .hr_div {
    width: 100%;
    height: 1px;
    background-color: black;
}

.package_card .pack_name {
    padding: 0px 0px 15px 0px;
    font-size: 30px;
    color: rgb(40, 70, 144);
}

.pack_content {
    display: flex;
    justify-content: space-between;
}

.pack_content .pack_img {
    padding: 20px 10px;
}

.pack_content .pack_img img {
    width: calc(730px/3);
    height: calc(469px/3);
    border-radius: 10px;
}

.pack_dur {
    margin: 3px 0px 10px 0px;
    font-size: 13px;
    color: grey;
    padding: .375rem .75rem;
    width: 25%;
    border: 1px solid grey;
    border-radius: 10px;
}

.pack_desc_main {
    padding: 20px 10px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

.pack_desc {
    font-size: 13px;
    word-spacing: 0px;
    text-align: justify;
}

.pack_bottom {
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pack_incl {
    display: flex;
    justify-content: space-between;
    /* padding-top: 30px; */
    font-size: 18px;
    width: 70%;
    color: rgb(122, 122, 122);
}

.incl_name {
    font-size: 13px;
}

.pack_side_bar {
    margin-top: 10px;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: spa; */
    align-content: flex-end;
}

.pack_price {
    text-align: right;
    font-size: 30px;
}

.pack_price div {
    font-size: 10px;
}

.buy_button {
    margin-top: 30px;
    overflow: visible;
    display: flex;
    justify-content: right;
}

.buy_button button {
    cursor: pointer;
    font-size: 15px;
    padding: .400rem .80rem;
    margin-left: auto;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.buy_button button:hover {
    background-color: black;
    color: white;
    outline: none;
}

.buy_button button:focus {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .2);
}

/*all packages ends*/

/*contact us form*/

.contact_heading {
    margin: 10px 10px 10px 0;
    padding: 10px 80px 10px 80px;
    font-size: 50px;
    font-weight: 700;
}

.contact_col {
    padding: 10px 80px;
    margin: 20px 0;
}

.contact_col * {
    overflow: visible;
    /* border: 1px solid black; */
}

.contact_col label {
    margin: 20px 0px 5px 0px;
    color: rgb(100, 100, 100);
}

.contact_col input {
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    padding: .375rem .75rem;
    border-radius: 5px;
    transition: border .15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.contact_col input:hover {
    background-color: aliceblue;
}

.contact_col input:focus {
    outline: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}

.contact_col textarea {
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    padding: .375rem .75rem;
    border-radius: 5px;
    transition: border .15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.contact_col textarea:hover {
    background-color: aliceblue;
}

.contact_col textarea:focus {
    outline: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}

.form_inline {
    display: flex;
    /* width: 100%; */
}

.phone_input, .email_input {
    width: 100%;
}

.phone_input {
    margin-left: 10px;
}

.email_input {
    margin-right: 10px;
}

.name_input * {
    display: block;
}

.email_input * {
    display: block;
}

.phone_input * {
    display: block;
}

.review_input * {
    display: block;
}

/*contact us form ends */

/*visit us */

.visit_div {
    display: flex;
}

.visitUs {
    display: flex;
    padding: 10px 80px;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.address {
    color: grey;
    font-size: 15px;
}

.phone_no {
    color: grey;
    font-size: 15px;
}

.emailAdd {
    color: grey;
    font-size: 15px;
}

.website {
    color: grey;
    font-size: 15px;
}

.contact_btn button {
    margin-top: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    outline: none;
    border: 1px solid rgb(40, 70, 144);
    height: 40px;
    background-color: rgba(40, 70, 144, 1);
    padding: .375rem .75rem;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    transition: border .15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.contact_btn button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(35, 61, 128);
}

.contact_btn button:focus {
    box-shadow: 0 0 2px 3px rgba(40, 70, 144, 0.5);
}

/*visit us ends*/

/* Individual Package Information CSS starts*/

.package_container * {
    overflow: visible;
}

.package_container {
    margin: 10px;
    padding: 35px;
}

.package_name {
    font-size: 70px;
    font-family: 'Chilanka', cursive;
    /* padding-left: 20px; */
    text-align: center;
}

.hr_div {
    align-self: center;
    margin: 10px auto;
    width: 50%;
    height: 1px;
    background-color: black;
}

.package_image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.package_image img {
    padding: 1px;
    border: 1.5px solid grey;
    border-radius: 50px;
    /* box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .2); */
    transition: transform 0.15s ease-in-out;
}

.package_image img:hover {
    transform: scale(1.2);
}

.package_desc {
    font-size: 20px;
    padding: 10px 30px;
    text-align: justify;
    line-height: 2;
}

.package_inculsion {
    display: flex;
    justify-content: space-around;
    color: grey;
}

.package_incl_grp {
    padding: 20px;
    font-size: 40px;
}

.package_incl_name {
    font-size: 20px;
}

.package_duration {
    font-size: 20px;
    border: 1px solid rgb(131, 131, 131);
    padding: 10px 20px;
    margin: 5px 20px;
}

.price {
    overflow: visible;
    padding: 10px 20px;
}

.price button {
    overflow: visible;
    margin-top: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    outline: none;
    border: 1px solid rgb(40, 70, 144);
    background-color: rgba(40, 70, 144, 1);
    padding: 1rem;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: border .15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.price button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(35, 61, 128);
}

.price button:focus {
    box-shadow: 0 0 2px 3px rgba(40, 70, 144, 0.5);
}

/* Individual Package Information CSS  ends*/

/* About us Page*/

/* .about_us_main * {
    border: 1px solid black;
} */

.about_us_main {
    padding: 20px 80px;
}

.about_us_heading {
    padding-left: 300px;
    font-size: 45px;
    color: rgb(144, 182, 214);
    text-align: left;
    font-family: 'Sansita Swashed', cursive;
}

.about_us_desc {
    border-right: 10px solid rgba(54, 17, 88,.8);
    padding-left: 20px;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 20px;
    width: 70%;
}

.about_desc {
    padding: 20px 10px;
}

.about_offers {
    padding-left: 30px;
    font-family: 'Grenze Gotisch', cursive;
    padding-top: 25px;
    font-size: 20px;
}

.list_offers {
    font-size: 15px;
    padding-left: 30px;
}

.about_image_main {
    display: flex;
    padding: 60px;
    justify-content: center;
    align-items: center;
    /*
    padding-right: 50px;
    padding-left: 50px;
*/
}

.about_image_main img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50%;
    box-shadow: 2px 5px 6px 3px rgba(0, 0, 0, .5);
    transition: .5s ease-in-out;
}

.about_image_main img:hover {
    box-shadow: 5px 7px 8px 5px rgba(0, 0, 0, .5);
    transition: .5s ease-in-out;
    transform: scale(1.2);
}

.about_us_main {
    display: flex;
}

/* About us ends*/